Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Fantastic_Village_Pack/maps/map_village_day_BuiltData.uasset
Content/Fantastic_Village_Pack/maps/map_village_night_BuiltData.uasset
Content/Fantastic_Village_Pack/maps/map_village_overview_BuiltData.uasset
Packages/FinalTest/WindowsNoEditor/LeyendaAxa/Content/Paks/LeyendaAxa-WindowsNoEditor.pak
Packages/LaLeyendaDeAxa.zip
Packages/LaLeyendaDeAxa/WindowsNoEditor/LeyendaAxa/Content/Paks/LeyendaAxa-WindowsNoEditor.pak
Packages/LaLeyendaDeAxaPre.zip
Packages/LaLeyendaDeAxaPre2.zip
Packages/Test01/WindowsNoEditor/LeyendaAxa/Content/Paks/LeyendaAxa-WindowsNoEditor.pak
Packages/Test02/WindowsNoEditor/LeyendaAxa/Content/Paks/LeyendaAxa-WindowsNoEditor.pak
